<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2>Projeto de controle de produtos</h2>
            <p>Desenvolvido por Rafael Lana</p>
        </div>
        <div class="col">
            <div class="text-end mt-3">
                <a routerLink="/dashboard" class="btn btn-secondary btn-sm me-1">
                    Dashboard
                </a>
                <a routerLink="/cadastro-produtos" class="btn btn-success btn-sm me-1">
                    Incluir novo produto
                </a>
                <a routerLink="/consulta-produtos" class="btn btn-primary btn-sm me-1">
                    Consultar produtos
                </a>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <!-- Local onde os componentes serão exibidos conforme o link (rota) -->
        <router-outlet/>
    </div>
</div>
